@import "../_variables.scss";

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: map-get($app, header);
  z-index: map-get($z-index, header);
  background: $bg-color;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: map-get($app, max-width);
  padding: 0 map-get($app, gap);
  width: 100%;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.right {
  font-size: 18px;
}

.item {
  padding: 0.7rem;
}

.misc {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0 !important;
}

.name {
  padding-left: 0 !important;
}

.active {
  text-decoration: underline;
}
