@import "../_variables.scss";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px;
  background: $bg-color;
}

.name {
  margin-bottom: 3rem;
  animation: enter-top 1.5s ease-in-out;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
  width: 100%;
  opacity: 0;
  animation: enter-bottom 1.5s 300ms ease-in-out;
  animation-fill-mode: forwards;
}

.link {
  margin-bottom: 1rem;
}

@media screen and (min-width: 350px) {
  .links {
    flex-direction: row;
  }
}
