@import "../_variables.scss";

.pic {
  display: block;
  max-width: 70%;
  margin: 0 auto 3rem;
}

.greeting {
  margin-bottom: 3rem;
}

.buttons {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100px 100px;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.email {
  display: inline-block;
  transition: $fast-transition;

  &:hover {
    color: $action-color;
  }
}

@media screen and (min-width: 400px) {
  .buttons {
    grid-template-columns: 120px 120px;
  }
}

@media screen and (min-width: 500px) {
  .buttons {
    grid-template-columns: 160px 160px;
  }
}

@media screen and (min-width: 900px) {
  .about {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-gap: 30px;
    align-items: center;
  }

  .pic {
    grid-column: 1;
    margin: 0;
    max-width: none;
    width: 100%;
  }

  .bio {
    grid-column: 2;
  }
}
